div #home{
    background-color:  #EFBE7D;
    height: 600px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

div .business_title{
    font-weight: 400;
    font-size: 80px;
}

div h3 .intro{
    font-weight: 300;
}

div .btn-outline-learnmore{
    border-color: black;
    margin-left: 20px;
    margin-top: 30px;
    width: 203px;
}

div .btn-outline-learnmore:hover{
    background-color: black;
    color: #EFB661;
}

div .btn-outline-learnmore:active , .btn-outline-learnmore:focus , .btn-check:focus+.btn-outline-learnmore{
    box-shadow: 0 0 0 0.25rem rgba(85, 84, 84, 0.918)
}

div .btn-outline-bookdemo{
    border-color:  black;
    margin-right: 20px;
    margin-top: 30px;
}

div .btn-outline-bookdemo:hover{
    background-color: #000;
    color: #EFB661;
}

div .btn-outline-bookdemo:active , .btn-outline-bookdemo:focus , .btn-check:focus+.btn-outline-bookdemo{
    box-shadow: 0 0 0 0.25rem rgba(85, 84, 84, 0.918)
}